* {
    padding: 0px;
    margin: 0pc;
    box-sizing: border-box;
    color: white;
}

.Overall {
    min-height: 670px;
    color: wheat;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

}

.S-container1,
.S-container2 {
    height: 200px;
    width: 200px;
    position: absolute;
    /* background-color: rgb(213, 149, 149); */
    top: 12%;
    left: 10%;
}

.S-container1>:nth-child(1) {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    filter: blur(20px);
    position: absolute;
    left: 0px;
    top: 24%;
}

.S-container1>:nth-child(2) {
    height: 40px;
    width: 40px;
    filter: blur(20px);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 2%;
    top: 66%;
}

.S-container1>:nth-child(3) {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    filter: blur(20px);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 78%;
    top: 36%;
}

.S-container1>:nth-child(4) {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    filter: blur(14px);
    top: 48%;
    left: 39%;

}

.S-container1>:nth-child(5) {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    filter: blur(20px);
    left: 30%;
}

.S-container1>:nth-child(6) {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    filter: blur(20px);
    left: 66%;
    top: 1%;
}

.S-container1>:nth-child(7) {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    filter: blur(20px);
    top: 74%;
}

/* ------ scound blur ---------------- */

.S-container2>:nth-child(1) {
    height: 23px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    filter: blur(20px);
    position: absolute;
    left: 0px;
    top: 24%;
}

.S-container2>:nth-child(2) {
    height: 20px;
    width: 40px;
    filter: blur(20px);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 2%;
    top: 66%;
}

.S-container2>:nth-child(3) {
    height: 30px;
    width: 40px;
    border-radius: 50%;
    filter: blur(20px);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 78%;
    top: 36%;
}

.S-container2>:nth-child(4) {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    filter: blur(14px);
    top: 48%;
    left: 39%;

}

.S-container2>:nth-child(5) {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    filter: blur(20px);
    left: 30%;
}

.S-container2>:nth-child(6) {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    filter: blur(20px);
    left: 66%;
    top: 1%;
}

.S-container2>:nth-child(7) {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    filter: blur(20px);
    top: 74%;
}

.S-container2 {
    /* background-color: rgb(149, 213, 149); */
    top: 64%;
    left: 2%;
}

.S-container3 {
    background-color: rgb(149, 149, 213);
    top: 40%;
    left: 20%;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.btn {
    padding: 4px 9px;
    border-radius: 21px;
    width: 108px;
    text-decoration: none;
    background-color: rgb(12, 10, 10);
    position: relative;
    display: flex;
    border: 1px dotted white;
    height: 35px;
}

.Con2 a {
    text-decoration: none;

}

.btn:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
    transition: 0.3s;

}

.IconAnim {
    display: inline-block;
    position: absolute;
    padding: 1px 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-top: 5px;
    right: 10px;
    bottom: 5px;
    height: 23px;
    width: 23px;
}

.btnOpen {
    border-radius: 21px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    animation: IconAnim 0.5s ease-out forwards;
}

@keyframes IconAnim {
    0% {
        transform: translateX(-40px);
        opacity: 1;
        padding: 1px 3px;
    }

    50% {
        transform: translateX(10px);
        opacity: 1;
        height: 25px;
        width: 25px;
        padding: 1px 3px;
    }

    100% {
        transform: translateX(40px);
        opacity: 0;
        padding: 1px 3px;
    }
}

.para {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        color: rgb(0, 0, 0)
    }

    to {
        opacity: 1;
        transform: translateY(0);
        color: rgb(255, 255, 255)
    }
}

.My-pic {
    position: absolute;
    height: 262px;
    width: 230px;
    top: 28%;
    z-index: 999;
    right: 157px;
}

.Con2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trans :nth-child(2) {
    height: 335px;
    width: 338px;
    top: 24%;
    overflow: hidden;
    left: 62%;
    position: absolute;
    rotate: 225deg;
}

.In-container {
    width: 63%;
    /* background-color: aquamarine; */
}

.trans {
    position: absolute;
    display: inline;
    right: 0%;
    overflow: hidden;
    top: 12%;
    height: 568px;
    width: 445px;
}

.textAnim {
    width: 0;
    overflow: hidden;
    font-family: "";
    white-space: nowrap;
    border-right: 3px solid black;
    animation: typing 4s steps(50) infinite,
        blink 0.7s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 260px;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* ------------------ Responsive ---------------------- */
/* ---------------------- Mobile ------------------------ */
@media screen and (min-width:300px) and (max-width:600px) {

    .In-container {
        width: 100%;
        min-height: 280px;
    }

    .trans {
        display: flex;
    }

    .My-pic {
        right: 23%;
        top: 18%;
        height: 193px;
        width: 176px;
    }

    .Box-BG {
        display: none;
    }

}