* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.project-header {
    /* height: 100px; */
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 87vh;
    padding: 20px;
}

.card {
    width: 261px;
    height: 353px;
    perspective: 1000px;
    gap: 20px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .8s;
}

/* Open on Hover */
.card:hover .card-inner {
    transform: rotateY(180deg);
}

.Link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    height: 40px;
    padding: 5px 5px;
    backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid white;
}

.Link:hover {
    background: #060606;
    color: #fff;
    transition: 0.3s;
    transform: scale(1.1);
}

.Link a {
    text-decoration: none;
}

.Link a:hover {
    text-decoration: none;
    color: #fff;
}

.back p {
    font-size: 14px;
}

/* Front & Back */
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    color: #fff;
    padding: 20px;
}

.front {
    /* background: #2563eb; */
    border: #2563eb 1px dotted;
    backdrop-filter: blur(18px);
    background-size: cover;
    justify-content: flex-start;
    background-repeat: no-repeat;

}

.One {
    background-image: url('./assets/Meat2.jpg');
    background-size: 100%;
    background-position: 0px -1px;
}

.Two {
    background-image: url('./assets/Plum.jpg');
    background-size: 97%;
    background-position: 6px -9px;
}

.Three {
    background-image: url('./assets/Todo.jpg')
}

.Four {
    background-image: url('./assets/Weather.png');
    background-position: -65px 0px;
    background-size: 155%;
}

.back {
    border: rgb(84, 255, 84) 1px dotted;
    transform: rotateY(180deg);
    backdrop-filter: blur(18px);
    justify-content: space-evenly;
}